.content{
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: bisque;
}
ul, li{
    margin: 0 auto;
}
a{
    color: darkolivegreen;
    font-size: 18px;
}
h1{
    font-size: 44px;
    font-family: "Roboto";
    color: #456745;
}
h2{
    color: #456745;
    font-size: 36px;
    font-family: "Roboto";
}
ul{
    list-style-type: none;
}
p{
    max-width: 350px;
    font-family: "Roboto";
    margin: 0 auto;
}
pre{
    margin: 0 auto;
}
.icon{
    border-radius: 50%;
    width: 180px;
    height: 180px
}